$darkBlue: #1F3664;
$grey: #F5F8FB;
$darkGreyFont: #4F4F4F;
$lightGreyFont:#828282;
$lightRed: #FF3E3E;

.video-filters__item {
    background-color: #fff;
    border: 2px solid rgba(31, 54, 100, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    height: 50px;
    max-width: 290px;
    width: 100%;
}

